<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <form method = "POST">
      <p>This is used to determine your birth sign in Tamriel</p>
      <label for = "month">Enter your birth month:</label>
      <input type = "number" name = "month" min = "1" max = "12" required>

      <label for = "day">Enter your birth day:</label>
      <input type = "number" name = "day" min = "1" max = "31" required>

      <input type = "submit" value = "Submit">
    </form>
    </body>
    </html>