<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elder Scrolls Character Creation Quiz</title>
</head>
<body>
    <h1>Welcome to the Elder Scrolls Character Creation Quiz!</h1>
    <br>
    <p>Welcome to the Elder Scrolls Character Creation Quiz! This project is my first venture into Python programming, and it features a recreated quiz inspired by the iconic 2003 Morrowind game developed by Bethesda. In this quiz, you'll embark on a journey to create your own character by answering a series of questions that will determine your race, birth sign, and class in the world of Tamriel. Your choices will influence your character's strengths in combat, magic, and stealth. Let the adventure begin!</p>
    <form method="post">
        <input type="submit" value="Start Quiz">
    </form>

</body>
</html>
