<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose Your Province</title>
</head>
<body>
    <h2>From where in Tamriel do you hail?</h2>
    <form method="POST">
        <label for="province">Choose your province:</label>
        <select name="province" id="province">
            <option value="0">Select a province</option>
            <option value="1">Skyrim</option>
            <option value="2">Morrowind</option>
            <option value="3">Cyrodil</option>
            <option value="4">High Rock</option>
            <option value="5">Hammerfell</option>
            <option value="6">Black Marsh</option>
            <option value="7">Valenwood</option>
            <option value="8">Summerset Isle</option>
            <option value="9">Elsweyr</option>
            <option value="10">Orsinium</option>
        </select>
        <input type="submit" value="Submit"/>
    </form>
</body>
</html>
