<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
    <body>
        <form method = "POST">
      <h2>Question 7</h2>
      <p>Your father sends you on a task which you loathe, cleaning the stables. On the way there, pitchfork in hand, you run into your friend from the homestead near your own. He offers to do it for you, in return for a future favor of his choosing.</p>
    
      <p>What do you do?</p>
      <input type = "radio" name = "answer" value = "1">Decline his offer, knowing that your father expects you to do the work, and it is better not to be in debt.<br>
      <input type = "radio" name = "answer" value = "2">Ask him to help you, knowing that two people can do the job faster than one, and agree to help him with one task of his choosing in the future.<br>
      <input type = "radio" name = "answer" value = "3">Accept his offer, reasoning that as long as the stables are cleaned, it matters not who does the cleaning.<br>
      <br>
      <input type = "submit" value = "Next Question">
    </form>

      </body>
      </html>