<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
    <body>
        <form method="POST">

<h2>Question 3</h2>
<p>Your cousin has given you a very embarrassing nickname and, even worse, likes to call you it in front of your friends. You asked him to stop, but he finds it very amusing to watch you blush.</p>
<p>What do you do?</p>
    
<input type = "radio" name = "answer" value = "1">Beat up your cousin, then tell him that if he ever calls you that nickname again, you will bloody him worse than this time.<br>
<input type = "radio" name = "answer" value = "2">Make up a story that makes your nickname a badge of honor instead of something humiliating.<br>
<input type = "radio" name = "answer" value = "3">Make up an even more embarrassing nickname for him and use it constantly until he learns his lesson.<br>
<br>
<input type = "submit" value = "Next Question">
</form>

  </body>
  </html>