<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
    <body>
        <form method = "POST">
    <h2>Question 6</h2>
    <p>While in the market place you witness a thief cut a purse from a noble. Even as he does so, the noble notices and calls for the city guards. In his haste to get away, the thief drops the purse near you. Surprisingly no one seems to notice the bag of coins at your feet.</p>
    <p>What do you do?</p>
    
    <input type = "radio" name = "answer" value = "1">Pick up the bag and signal to the guard, knowing that the only honorable thing to do is return the money to its rightful owner.<br>
    <input type = "radio" name = "answer" value = "2">Leave the bag there, knowing that it is better not to get involved.<br>
    <input type = "radio" name = "answer" value = "3">Pick up the bag and pocket it, knowing that the extra windfall will help your family in times of trouble.<br>
    <br>
    <input type = "submit" value = "Next Question">
    </form>
      </body>
      </html>