<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
  <body>
      <form method = "POST">
        <h2>Question 9</h2>
        <p>While in town the baker gives you a sweetroll. Delighted, you take it into an alley to enjoy only to be intercepted by a gang of three other kids your age. The leader demands the sweetroll, or else he and his friends will beat you and take it.</p>
        <p>What do you do?</p>
        <input type = "radio" name = "answer" value = "1">Drop the sweetroll and step on it, then get ready for the fight.<br>
        <input type = "radio" name = "answer" value = "2">Give him the sweetroll now without argument, knowing that later this afternoon you will have all your friends with you and can come and take whatever he owes you.<br>
        <input type = "radio" name = "answer" value = "3">Act like you're going to give him the sweetroll, but at the last minute throw it in the air, hoping that they'll pay attention to it long enough for you to get a shot in on the leader.<br>
        <br>
        <input type = "submit" value = "Next Question">
      </form>
        </body>
        </html>