<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
  <body>
      <form method = "POST">
      <h2>Question 8</h2>
      <p>Your mother asks you to help fix the stove. While you are working, a very hot pipe slips its mooring and falls towards her.</p>
      <p>What do you do?</p>
      <input type = "radio" name = "answer" value = "1">Position yourself between the pipe and your mother.<br>
      <input type = "radio" name = "answer" value = "2">Grab the hot pipe and try to push it away.<br>
      <input type = "radio" name = "answer" value = "3">Push your mother out of the way.<br>
      <br>
      <input type = "submit" value = "Next Question">
    </form>
      </body>
      </html>