<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <form method="POST">
    <h2>Question 2</h2>
    <p>One Summer afternoon your father gives you a choice of chores.</p>
    <p>What do you do?</p>

    
        <input type="radio" name="answer" value="1"> Work in the forge with him casting iron for a new plow.<br>
        <input type="radio" name="answer" value="2"> Gather herbs for your mother who is preparing dinner.<br>
        <input type="radio" name="answer" value="3"> Go catch fish at the stream using a net and line.<br>
        <br>
        <input type="submit" value="Next Question">
    </form>
</body>
</html>
