<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
  <body>
    <form method = "POST">
      <h2>Question 4</h2>
      <p>There is a lot of heated discussion at the local tavern over a group of people called 'Telepaths'. They have been hired by certain City-State kings. Rumor has it these Telepaths read a person's mind and tell their lord whether a follower is telling the truth or not.</p>
      <p>What is your opinion?</p>
    
      <input type = "radio" name = "answer" value = "1">This is a terrible practice. A person's thoughts are his own and no one, not even a king, has the right to make such an invasion into another human's mind.<br>
      <input type = "radio" name = "answer" value = "2">Loyal followers to the king have nothing to fear from a Telepath. It is important to have a method of finding assassins and spies before it is too late.<br>
      <input type = "radio" name = "answer" value = "3">In these times, it is a necessary evil. Although you do not necessarily like the idea, a Telepath could have certain advantages during a time of war or in finding someone innocent of a crime.<br>
      <br>
      <input type = "submit" value = "Next Question">
    </form>
      </body>
      </html>