<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <body>
    <form method = "POST">
        <form method = "POST">
          <h2>Question 1</h2>
          <p>On a clear day you chance upon a strange animal, its leg trapped in a hunter's clawsnare. Judging from the bleeding it will not survive long.</p>
          <p>What do you do?</p>
          <input type = "radio" name = "answer" value = "1">Draw your dagger, mercifully ending its life with a single thrust.<br>
          <input type = "radio" name = "answer" value = "2">Use herbs from your pack to put it to sleep.<br>
          <input type = "radio" name = "answer" value = "3">Do not interfere in the natural evolution of events, but rather take the opportunity to learn more about a strange animal you have never seen before.<br>
          <br>
          <input type = "submit" value = "Next Question">
        </form>
        </body>
        </html>